In [1]:
import pandas as pd

In [2]:
df=pd.read_csv('city_hour.csv')
df.head()

,City,Datetime,PM2.5,PM10,NO,NO2,NOx,NH3,CO,SO2,O3,Benzene,Toluene,Xylene,AQI,AQI_Bucket
0,Ahmedabad,2015-01-01 01:00:00,NaN,NaN,1.00,40.01,36.37,NaN,1.00,122.07,NaN,0.0,0.0,0.0,NaN,NaN
1,Ahmedabad,2015-01-01 02:00:00,NaN,NaN,0.02,27.75,19.73,NaN,0.02,85.90,NaN,0.0,0.0,0.0,NaN,NaN
2,Ahmedabad,2015-01-01 03:00:00,NaN,NaN,0.08,19.32,11.08,NaN,0.08,52.83,NaN,0.0,0.0,0.0,NaN,NaN
3,Ahmedabad,2015-01-01 04:00:00,NaN,NaN,0.30,16.45,9.20,NaN,0.30,39.53,153.58,0.0,0.0,0.0,NaN,NaN
4,Ahmedabad,2015-01-01 05:00:00,NaN,NaN,0.12,14.90,7.85,NaN,0.12,32.63,NaN,0.0,0.0,0.0,NaN,NaN

In [4]:
unique_cities = df['City'].unique()
print(f"Unique cities: {unique_cities}")

Unique cities: ['Ahmedabad' 'Aizawl' 'Amaravati' 'Amritsar' 'Bengaluru' 'Bhopal'
 'Brajrajnagar' 'Chandigarh' 'Chennai' 'Coimbatore' 'Delhi' 'Ernakulam'
 'Gurugram' 'Guwahati' 'Hyderabad' 'Jaipur' 'Jorapokhar' 'Kochi' 'Kolkata'
 'Lucknow' 'Mumbai' 'Patna' 'Shillong' 'Talcher' 'Thiruvananthapuram'
 'Visakhapatnam']

In [7]:
city_datasets = {}  # Dictionary to store city-specific datasets

for city in unique_cities:
    city_datasets[city] = df[df['City'] == city]
    print(f"{city}: {city_datasets[city].shape[0]} rows")

Ahmedabad: 48192 rows
Aizawl: 2680 rows
Amaravati: 22784 rows
Amritsar: 29269 rows
Bengaluru: 48192 rows
Bhopal: 6903 rows
Brajrajnagar: 22468 rows
Chandigarh: 7263 rows
Chennai: 48192 rows
Coimbatore: 9229 rows
Delhi: 48192 rows
Ernakulam: 3852 rows
Gurugram: 40258 rows
Guwahati: 12002 rows
Hyderabad: 48107 rows
Jaipur: 26705 rows
Jorapokhar: 28025 rows
Kochi: 3854 rows
Kolkata: 19503 rows
Lucknow: 48192 rows
Mumbai: 48192 rows
Patna: 44554 rows
Shillong: 7402 rows
Talcher: 22161 rows
Thiruvananthapuram: 26651 rows
Visakhapatnam: 35053 rows

In [9]:
grouped_cities = {
    'Ahmedabad': ['Ahmedabad'],
    'Aizawl_Amaravati_Amritsar': ['Aizawl', 'Amaravati', 'Amritsar'],
    'Bengaluru': ['Bengaluru'],
    'Bhopal_Brajrajnagar_Chandigarh_Coimbatore': ['Bhopal', 'Brajrajnagar', 'Chandigarh', 'Coimbatore'],
    'Chennai': ['Chennai'],
    'Delhi': ['Delhi'],
    'Gurugram': ['Gurugram'],
    'Ernakulam_Guwahati_Jaipur': ['Ernakulam', 'Guwahati', 'Jaipur'],
    'Hyderabad': ['Hyderabad'],
    'Jorapokhar_Kochi_Kolkata': ['Jorapokhar', 'Kochi', 'Kolkata'],
    'Lucknow': ['Lucknow'],
    'Mumbai': ['Mumbai'],
    'Patna': ['Patna'],
    'Shillong_Visakhapatnam': ['Shillong', 'Visakhapatnam'],
    'Talcher_Thiruvananthapuram': ['Talcher', 'Thiruvananthapuram']
}

# Create a dictionary to store grouped datasets
grouped_datasets = {}

# Combine datasets based on the groups
for group_name, cities in grouped_cities.items():
    grouped_datasets[group_name] = df[df['City'].isin(cities)]
    print(f"{group_name}: {grouped_datasets[group_name].shape[0]} rows")

Ahmedabad: 48192 rows
Aizawl_Amaravati_Amritsar: 54733 rows
Bengaluru: 48192 rows
Bhopal_Brajrajnagar_Chandigarh_Coimbatore: 45863 rows
Chennai: 48192 rows
Delhi: 48192 rows
Gurugram: 40258 rows
Ernakulam_Guwahati_Jaipur: 42559 rows
Hyderabad: 48107 rows
Jorapokhar_Kochi_Kolkata: 51382 rows
Lucknow: 48192 rows
Mumbai: 48192 rows
Patna: 44554 rows
Shillong_Visakhapatnam: 42455 rows
Talcher_Thiruvananthapuram: 48812 rows

In [10]:
# Example: Save grouped datasets to separate CSV files (optional)
for group_name, dataset in grouped_datasets.items():
    dataset.to_csv(f"{group_name}_data.csv", index=False)
    print(f"Saved {group_name}_data.csv")

Saved Ahmedabad_data.csv
Saved Aizawl_Amaravati_Amritsar_data.csv
Saved Bengaluru_data.csv
Saved Bhopal_Brajrajnagar_Chandigarh_Coimbatore_data.csv
Saved Chennai_data.csv
Saved Delhi_data.csv
Saved Gurugram_data.csv
Saved Ernakulam_Guwahati_Jaipur_data.csv
Saved Hyderabad_data.csv
Saved Jorapokhar_Kochi_Kolkata_data.csv
Saved Lucknow_data.csv
Saved Mumbai_data.csv
Saved Patna_data.csv
Saved Shillong_Visakhapatnam_data.csv
Saved Talcher_Thiruvananthapuram_data.csv